.margin{
  margin: 10px 10px 10px 10px;
}
.padding{
  padding: 10px 10px 10px 10px;
}
.add-car-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width:20vw;
}
.margin-top{
  margin: 10px 0 0 0;
}
